.color {
  background-color: #8566aa;
}
form {
  padding: 20px;
  margin-top: 15px;
}
.post-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.big {
  font-size: 32px;
  line-height: 68px;
}
/* navbar */
.nav-color {
  background: #222831;
  color: #ececec;
}
/* profile css */

.profile {
  display: flex;
  flex-direction: row;
}
.box-left {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
}
.box-right {
  display: flex;
  width: 40%;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
}
.gap {
  margin: 5px;
}
.cardContent {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
/* postLike component styles */
.alignment {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.item {
  margin-right: 20px;
  cursor: pointer;
}
i.fa.fa-heart:hover {
  color: coral;
}
/* person details */
span.cardDesc {
  font-size: 12px;
  /* white-space: wrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;

  text-align: center !important;
  max-width: 189px !important;

  display: inline-block;
}
#nameColor {
  color: #8566aa;
  padding-top: 0;
  font-size: 28px;
  margin-top: 10px;
}

#emailColor {
  color: #777;
  font-weight: 400;
  margin-top: 0;
}
/* post summery */
.post-summery {
  width: 500px;
}
.space {
  margin: 5px 0 !important;
  font-size: 16px;
  color: #999;
  margin-left: 1px !important;
}
.date {
  font-size: 14px;
  color: #999;
  margin-left: 1px !important;
}
/* post details */
.cardTitle {
  color: #8566aa;
  font-weight: 600;
  font-size: 30px !important;
  margin-bottom: 15px;
}

.postDes {
  padding: 10px 5px;
  color: #777;
}
