form{
    padding: 20px;
    margin-top: 15px;
}
.post-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.big {
  font-size: 32px;
  line-height: 68px;
}
/* profile css */

.profile {
  display: flex;
  flex-direction: row;
}
.box-left {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px
}
.box-right{
  display: flex;
  width: 40%;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
}
.gap{
  margin: 5px;
}
.cardContent{
  padding: 10px;
  box-sizing: border-box;
 text-align: center;
}
.profilePic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
/* postLike component styles */
.alignment{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.item {
  margin-right: 20px
}